# Python cache
__pycache__/
*.pyc

# Virtual environments
venv/
.venv/

# Environment variables
.env

# Jupyter
.ipynb_checkpoints/

# System files
.DS_Store
Thumbs.db

# VS Code settings
.vscode/

# Streamlit cache
.streamlit/